# Android
build/
.gradle/
.idea/
*.iml
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class
captures/
output.json
.externalNativeBuild
.cxx/
*.hprof
.DS_Store
*.log
/.settings
/.project
/.classpath
*.swp
*.swo
*~
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
*.keystore
